
<footer class="text-white text-center py-4">
    <div class="mb-3">
        <a href="https://github.com/mvvenkatesh" target="_blank" class="text-white text-decoration-none me-3">
            <i class="bi bi-github fs-4"></i>
        </a>
        <a href="https://www.linkedin.com/in/venkatesh-nagasamudram/" target="_blank"
            class="text-white text-decoration-none me-3">
            <i class="bi bi-linkedin fs-4"></i>
        </a>
        <a href="mailto:nvenkatesh7207@gmail.com" class="text-white text-decoration-none">
            <i class="bi bi-envelope fs-4"></i>
        </a>
    </div>
    <div class="fw-light"><a href="https://mvvenkatesh.com"
            class="text-white text-decoration-none">www.mvvenkatesh.com</a></div>
</footer>