@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
body {
  font-family: "Josefin Sans", sans-serif;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
}

html, body {
  height: 100%;
  background-color: black;
  margin: 0;
}


body, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto; /* grow and shrink */
}
