<main>
    <div class="d-flex justify-content-center text-white">
        <div class="container text-start" style="max-width: 800px;">
            <img src="assets/images/ven.jpeg" class="rounded-circle mb-3 dp">
            <section>
                <h3 class="mb-1">Hey, I'm Venkatesh Nagasamudram 👋</h3>
                <p class="fs-6">Experienced Software Engineer with a strong background in Full Stack development, backed
                    by
                    4
                    years of work experience. Proficient in problem-solving, coupled with a passion for crafting
                    efficient,
                    clean and scalable solutions.</p>
                <a href="https://github.com/mvvenkatesh" target="_blank" class="text-white text-decoration-none me-3">
                    <i class="bi bi-github fs-3"></i>
                </a>
                <a href="https://www.linkedin.com/in/venkatesh-nagasamudram/" target="_blank"
                    class="text-white text-decoration-none me-3">
                    <i class="bi bi-linkedin fs-3"></i>
                </a>
                <a href="mailto:nvenkatesh7207@gmail.com" class="text-white text-decoration-none me-3">
                    <i class="bi bi-envelope fs-3"></i>
                </a>
            </section>
            <section>
                <h3 class="mb-1">🧠 Skills</h3>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    Java
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    Spring Boot
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    Micro Services
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    Docker
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    Kubernetes
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    Junit
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    Angular
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    Aws
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    SQL
                </div>
                <div class="bg-dark text-white text-center py-1 px-3 d-inline-block rounded me-3 mt-3">
                    MongoDB
                </div>
            </section>
            <section>
                <h3 class="mb-1">💻 Work History</h3>
                <div class="d-flex align-items-start mb-3" style="margin-top: 16px;">
                    <img src="assets/images/capital.jpg" class="rounded-circle me-3 work-icon"
                        style="width: 50px; height: 50px;">
                    <div>
                        <div class="fw-bold fs-5">Java Developer</div>
                        <div class="fw-normal">Capital One</div>
                        <div class="fw-light">December 2024 - May 2025</div>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-3" style="margin-top: 16px;">
                    <img src="assets/images/virtusa.png" class="rounded-circle me-3 work-icon"
                        style="width: 50px; height: 50px;">
                    <div>
                        <div class="fw-bold fs-5">Engineer Technology</div>
                        <div class="fw-normal">Virtusa</div>
                        <div class="fw-light">Sep 2021 - Aug 2023 | Hyderabad, India</div>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-3" style="margin-top: 16px;">
                    <img src="assets/images/hsbc.jpg" class="rounded-circle me-3 work-icon"
                        style="width: 50px; height: 50px;">
                    <div>
                        <div class="fw-bold fs-5">Software Engineer</div>
                        <div class="fw-normal">HSBC</div>
                        <div class="fw-light">Aug 2020 - July 2021 | Banglore, India</div>
                    </div>
                </div>
            </section>
            <section>
                <h3 class="mb-1">📚 Education</h3>
                <div class="d-flex align-items-start mb-3" style="margin-top: 16px;">
                    <img src="assets/images/uco.jpg" class="rounded-circle me-3 work-icon"
                        style="width: 50px; height: 50px;">
                    <div>
                        <div class="fw-bold fs-5">Masters in Computer Science</div>
                        <div class="fw-normal">University of Central Oklahoma</div>
                        <div class="fw-light">Aug 2023 - May 2025 | Edmond, Oklahoma | GPA : 3.45</div>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-3" style="margin-top: 16px;">
                    <img src="assets/images/siddartha.jpg" class="rounded-circle me-3 work-icon"
                        style="width: 50px; height: 50px;">
                    <div>
                        <div class="fw-bold fs-5">Bachelors in Computer Science</div>
                        <div class="fw-normal">Siddartha Institute of Science and Technology</div>
                        <div class="fw-light">July 2017 - July 2021 | Puttur, India</div>
                    </div>
                </div>
            </section>
            <section>
                <h3 class="mb-1">💼 Personal Projects</h3>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" style="margin-top: 0px;">
                    <div class="col">
                        <div class="card h-100">
                            <img src="assets/images/email.png" class="card-img-top"
                                style="height: 200px; object-fit: cover; width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">Email Client</h5>
                                <p class="card-text">Built using Angular for responsive, component-based UI. Used
                                    HttpClient
                                    for API communication, reactive forms for composing emails, RxJS for real-time
                                    updates,
                                    and guards to secure routes based on authentication.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="assets/images/ecommerce.jpg" class="card-img-top"
                                style="height: 200px; object-fit: cover; width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">Ecommerce Website
                                </h5>
                                <p class="card-text">Implemented a Ecommerce user management system with RESTful API
                                    endpoints for user retrieval, updating,
                                    registration, and deletion. Utilized Spring Boot to create a scalable and efficient
                                    backend and Angular for frontend and Conducted comprehensive testing with JUnit to
                                    validate functionality.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h3 class="mb-1">🎓 Certifications</h3>
                <div class="d-flex align-items-start mb-3" style="margin-top: 16px;">
                    <img src="assets/images/oracle.png" class="rounded-circle me-3 work-icon"
                        style="width: 50px; height: 50px;">
                    <div>
                        <div class="fw-bold fs-5">Oracle Certied Associate, Java SE 8 Programmer
                        </div>
                        <div class="fw-normal">Issued by Oracle</div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</main>